<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">    
    </head>
    <body>
        <h1>{{ garden.user.name }}!</h1>

        <p>
            Tes plantes sont en train de faner ! Reviens vite t'occuper de ton jardin pour que qu'il reste beau et continuer à aquérir des points.
        </p>

    </body>
</html>
