<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">    
    </head>
    <body>
        <h1>Welcome {{ newUser.name }}!</h1>

        <p>
            You just registered to out app ! You can now create your first garden and plant your first seed.
        </p>

    </body>
</html>
